
.smooth-fullscreen-save.pre-render {
    font-size: 15px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    float: left;
    margin-left: 20%;
    margin-top: 0px;
}

.smooth-fullscreen-save {
    margin-top: 10px;
    border: 1px solid #DCDCDC;
    width: auto;
    position: absolute;
    padding: 5px;
    font-size: 19px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: #F9F9F9;
    color: #616161;
    font-weight: 500;
    cursor: pointer;
}


.smooth-fullscreen-save.update-style {
    position: relative;
    width: 140px;
    margin: auto;
    float: right;
    margin-right: 20%;
}

.smooth-fullscreen-save.update-style {
    font-size: 15px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin-bottom: 100px;
}