
dist/*
style.min.css
local/*
css/style.css
css/style.min.css
*.css.map

# portal specific images
css/mapic_logo_inverted_blank.png
flash-logo.png
images/portal-logo.png

# Dependency directory
node_modules

# test data
test/open-data

js/src/tests/*

css/color-theme.css
css/color-theme.*.css
!css/color-theme.default.css